/.vagrant/
.idea
.DS_Store
/*.box
/.vagrant
/iso
/output-virtualbox-iso
/packer_cache
!/nixbox/nixos-22.05-virtualbox-x86_64.box
/cloud-terraform/.terraform/
/cloud-terraform/.terraform.lock.hcl
/cloud-terraform/terraform.tfstate
/cloud-terraform/terraform.tfstate.backup
/cloud-terraform/.terraform.tfstate.lock.info
